:root {
    --img-margin: 0.5em;
    --bg-color: white;
    --text-color: black;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 25cm;
    max-width: 90%;
    font-family: 'Questrial', sans-serif;
    font-size: 21px;
    line-height: 1.4em;
    letter-spacing: 0.06em;
    color: var(--text-color);
    background-color: var(--bg-color);
}
.separator {
    height: 1px;
    background-color: gainsboro;
    margin-top: 2em;
    margin-bottom: 2em;
}
.section, section {
    margin-top: 2cm;
    margin-bottom: 2cm;
}
h2 {
    font-weight: bold;
    font-size: xx-large;
}
.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

a {
    color: #4CAAC9;
}
a:hover {
    color: #3387a2;
}

header {
    background-color: var(--bg-color);
    font-family: 'Open Sans', sans-serif;
}
header #name {
    text-align: center;
    font-size: 2ch;
    font-weight: 700;
    letter-spacing: 0.1ch;
    margin-top: 1.5em;
    margin-bottom: 1em;
}
header .menu-btn {
    display: none;
}
header .menu-icon {
    display: none;
}
header ul {
    list-style: none;
    text-align: center;
    font-size: 1.2ch;
}
header ul li {
    display: inline-block;
}
header ul li a {
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    white-space: nowrap;
}
header ul li a.active-link {
    text-decoration: none;
    color: #ccc;
}
header ul li a.active-link:hover {
    text-decoration: none;
    color: #ccc;
}

.img-right {
    position: relative;
    float: right;
    clear: right;
    max-width: 100%;
    margin-left: var(--img-margin);
}
.img-left {
    position: relative;
    float: left;
    clear: left;
    max-width: 100%;
    margin-right: var(--img-margin);
}
.img-right, .img-left {
    padding: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.13);
}
.img-full-width {
    width: 100%;
    height: auto;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
div.gallery a {
    height: 60px;
    padding: 2px;
    margin: 1px;
    border: 1px solid #ccc;
}
div.gallery a:hover {
    border-color: #777;
}
div.gallery img {
    height: 100%;
    width: auto;
}

iframe {
    border: none;
}

footer {
    margin-top: 2cm;
    text-align: center;
    font-size: small;
    line-height: normal;
}
footer img {
    margin-bottom: 0.6em;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: black;
        --text-color: white;
    }

    th {
        color: var(--bg-color);
    }
}

@media only screen and (max-width: 766px) {
    header {
        position: fixed;
        top: 0;
        height: max-content;
    }

    header ul {
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: var(--bg-color);
    }

    header ul li {
        display: initial;
    }
    
    header li a {
        display: block;
        padding: 10px 0;
        text-align: center;
    }
    
    header li a:hover,
    header .menu-btn:hover {
        background-color: #f4f4f4;
    }
    
    header #name {
        display: block;
        float: left;
        font-size: 1.1em;
        padding: 10px 20px;
        text-decoration: none;
        text-align: left;
        margin: 0;
        padding: 14px 20px;
    }
    
    /* menu */
    
    header .menu {
        clear: both;
        max-height: 0;
    }
    
    /* menu icon */
    
    header .menu-icon {
        cursor: pointer;
        display: inline-block;
        padding: 28px 20px;
        position: relative;
        user-select: none;
        box-sizing: border-box;
    }
    
    header .menu-icon .navicon {
        background: #333;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
    }
    
    header .menu-icon .navicon:before,
    header .menu-icon .navicon:after {
        background: #333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
    
    header .menu-icon .navicon:before {
        top: 5px;
    }
    
    header .menu-icon .navicon:after {
        top: -5px;
    }
    
    /* menu btn */
    
    header .menu-btn:checked ~ .menu {
        max-height: none;
        height: 100vh;
    }
    
    header .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
    }
    
    header .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
    }
    
    header .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
    }
    
    header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
    header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
    }

    @media (prefers-color-scheme: dark) {
        header li a:hover,
        header .menu-btn:hover {
            background-color: #0b0b0b;
        }
        header .menu-icon .navicon,
        header .menu-icon .navicon:before,
        header .menu-icon .navicon:after {
            background: #ccc;
            background: #ccc;
        }
    }
}