#main-img {
	content: url("capstone-action.jpg");
}

#img-capstone-gal0:hover ~ #main-img {
	content: url("capstone-gal0.jpg");
}
#img-capstone-gal1:hover ~ #main-img {
	content: url("capstone-gal1.jpg");
}
#img-capstone-gal2:hover ~ #main-img {
	content: url("capstone-gal2.jpg");
}
#img-capstone-gal3:hover ~ #main-img {
	content: url("capstone-gal3.jpg");
}
#img-capstone-gal4:hover ~ #main-img {
	content: url("capstone-gal4.jpg");
}
#img-capstone-gal5:hover ~ #main-img {
	content: url("capstone-gal5.jpg");
}
#img-capstone-gal6:hover ~ #main-img {
	content: url("capstone-gal6.jpg");
}
#img-capstone-gal7:hover ~ #main-img {
	content: url("capstone-gal7.jpg");
}
#img-capstone-gal8:hover ~ #main-img {
	content: url("capstone-gal8.jpg");
}