:root {
    --skill-margin: 0.25em;
    --bullet-diameter: 0.6em;
}

.cover {
    position: relative;
}
.cover img {
    width: 100%;
    height: auto;
}
.cover h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
    line-height: 1.2em;
    -webkit-text-stroke: 1px black;
}
#tinynets-title {
    font-size: 2.5em;
}

.disclaimer {
    font-size: medium;
    line-height: 1.4em;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.5em;
}
.bullet {
    border-radius: 50%;
    background-color: black;
    width: var(--bullet-diameter);
    height: var(--bullet-diameter);
    margin: 0.5em;
}
.skill {
    text-align: center;
    padding: 0.5em;
    white-space: nowrap;
}

.centered {
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
    /* box-sizing: border-box; */
}

h2 {
    margin: 0 auto;
}
section {
    margin-top: 2cm;
    margin-bottom: 2cm;
}

blockquote {
    border-left-width: 4px;
    border-left-color: gainsboro;
    border-left-style: solid;
    padding-left: 1em;
    margin-left: 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
}
caption {
    caption-side: bottom;
    text-align: left;
    font-size: medium;
    line-height: 1.2em;
}
th {
    background-color: gainsboro;
}
td, th {
    border: 1px solid rgb(190, 190, 190);
    padding: 7px 5px;
    text-align: center;
}

@media only screen and (max-width: 766px) {
    :root {
        --bullet-diameter: 0.3em;
    }

    main {
        margin-top: 60px;
        padding-top: 20px;
    }

    .cover {
        position: static;
        margin-top: 0;
    }

    .cover h1 {
        position: static;
        top: auto;
        left: auto;
        transform: none;
        color: black;
        font-size: 1.8em;
    }
    #tinynets-title {
        font-size: 1.8em;
    }

    #skills-demonstrated {
        margin: 0;
    }
    #skills-demonstrated h2 {
        font-size: 21px;
    }
    .skills {
        justify-content: flex-start;
        margin: 0;
        padding: 0 0.3em;
    }
    .skill {
        padding: 0;
        margin: 0 var(--skill-margin);
        font-size: 16px;
        line-height: 1.3em;
    }
    .bullet {
        padding: 0;
        margin: 0 var(--skill-margin);
    }

    main img {
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding: 0 !important;
        border: 0 !important;
    }
    .img-left, .img-right {
        margin-bottom: 1em;
        margin-top: 1em;
    }
    .img-top {
        margin-top: 0;
    }

    @media (prefers-color-scheme: dark) {
        .cover h1 {
            color: white;
            -webkit-text-stroke-width: 0;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .skills .bullet {
        background-color: white;
    }
}