:root {
	--shadow-shade: 125;
}

#title-card {
	display: flex;
	align-items: center;
	font-size: 1.1em;
	padding: 1.6em;
	box-shadow: 0 0 2em 1em rgba(var(--shadow-shade),var(--shadow-shade),var(--shadow-shade),0.2);
}
#headshot {
	width: 16em;
	height: auto;
	max-width: 50%;
	border-radius: 8%;
}
#title-card-right {
	margin-left: 1cm;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
}
address {
	font-style: normal;
}
#social-media-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
#social-media-wrapper img {
	width: 2.8em;
	border-radius: 8%;
}

section {
	margin: 0;
}

#bio {
	text-align: justify;
}

section ul {
	margin-top: 0;
}

article h2 {
	font-size: 1em;
	font-weight: bold;
}
article .journal-name {
	font-style: italic;
}

@media (prefers-color-scheme: dark) {
	:root {
		--shadow-shade: 200;
	}

	#social-media-wrapper img.bw {
		-webkit-filter: invert(100%);
		filter: invert(100%);
	}
}

@media only screen and (max-width: 940px) {
	#title-card {
		padding: 0;
		box-shadow: none;
	}
	#headshot {
		width: 14em;
	}
	#title-card .separator {
		margin: 1em 0;
	}
	#social-media-wrapper img {
		width: 2.5em;
	}
}

@media only screen and (max-width: 808px) {
	#title-card {
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 1cm;
		padding: 0;
		box-shadow: none;
	}
	#headshot {
		max-width: 95%;
		height: auto;
	}
	#title-card-right {
		margin-left: 0;
	}
	#title-card-right {
		margin-top: 1em;
	}
	#title-card .separator {
		margin: 2em 0;
	}
	address {
		display: inline-block;
		max-width: 100%;
		overflow: scroll;
		font-size: 0.9em;
	}
}

@media only screen and (max-width: 724px) {
	#bio {
		text-align: left;
	}
}