#quote-container {
	display: flex;
	margin-bottom: 0;
}
#quote-symbol {
	font-size: 6em;
	font-family: 'IM Fell English SC', serif;
	color: #999999;
	margin-right: 0.1em;

	transform: scale(-1, 1);
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);

	position: relative;
	top: 30px;
}
#quote {
	font-style: italic;
	font-family: 'Times New Roman', Times, serif;
}
#quote-words {
	margin-bottom: 0.2em;
}
#quote-citation {
	color: var(--grayed-out);
}

#bio {
	margin-top: 0;
}