#quote-container {
	display: flex;
	margin-bottom: 0;
}
#quote-symbol {
	font-size: 6em;
	font-family: 'IM Fell English SC', Georgia, serif;
	color: color-mix(in oklch, var(--accent-color) 60%, var(--grayed-out));
	margin-right: 0.1em;
	transform: scale(-1, 1);
	position: relative;
	top: 30px;
}
#quote {
	font-style: italic;
	font-family: var(--main-font-family);
}
#quote-words {
	margin-bottom: 0.2em;
}
#quote-citation {
	color: var(--grayed-out);
}

#bio {
	margin-top: 0;
}