h1 {
    font-family: var(--special-font-family);
    font-weight: normal;
    font-size: 2.1em;
    margin: 1.5em 0 0.5em 0;
}

p.date {
    font-size: 0.8em;
    margin: 0.7em 0;
}

figure {
    width: 100%;
    margin: 0;
    padding: 1.1em 0;
    border-top: 1px solid var(--seperator-color);
    border-bottom: 1px solid var(--seperator-color);
}
figure img {
    width: 100%;
}
figcaption {
    font-size: 0.8em;
    line-height: 1.4em;
    font-style: italic;
    margin-top: 0;
}

section.toc {
    background-color: rgba(var(--link-color), 0.1);
    padding: 1.5em;
}
section.toc h2 {
    margin-top: 0;
}
section.toc div {
    column-count: 2;
    column-fill: balance;
}
section.toc div ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
section.toc div ul li {
    padding-left: 1em;
    text-indent: -1em;
}
section.toc div ul li:before {
    content: ">";
    padding-right: 0.5em;
}

@media only screen and (max-width: 809px) {
    section.toc div {
        column-count: auto;
    }
}