a.post {
	text-decoration: none;
	color: var(--text-color);
}
a.post:hover {
	text-decoration: underline;
}

article img {
	width: 17rem;
}
article h2 {
	margin-top: 0;
}
article p {
	margin-bottom: 0;
}

p.date {
	color: var(--grayed-out);
	margin-bottom: 0.5em;
}
h2 {
	color: var(--text-color);
	line-height: 1.2em;
}

@media only screen and (max-width: 767px) {
	article img {
		width: 14rem;
		margin-top: 0.5rem;
	}
}

@media (prefers-color-scheme: dark) {
	a.post:hover {
		text-decoration-line: underline;
		text-decoration-color: var(--text-color);
	}
}