a.item {
    text-decoration: none;
    color: black;
}
a.item:hover {
    text-decoration: underline;
}


div.w-img {
    display: flex;
    align-items: center;
}
div.w-img img {
    width: 187px;
    height: auto;
    max-width: 100%;
    margin-right: 1cm;
    border-radius: 8%;
}

p.date {
    color: #777;
    margin-bottom: 0.5em;
}
h1 {
    color: black;
    line-height: 1.2em;
}
p.teaser {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

@media only screen and (max-width: 767px) {
    div.w-img {
        flex-wrap: wrap;
    }

    div.w-img img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
    }
}